* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.continer {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb347;
}

.continer .box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    min-width: 300px;
    overflow: hidden;

}

.box h2 {
    margin: 0;
    margin: 20px auto;

}

.box .dolist {
    width: 100%;
    display: block;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box .dolist:focus {
    outline: 1px solid #28a745;
}

.box .add {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: #28a745;
    cursor: pointer;
}

.box .add:hover {
    background-color: #218838;
}

.box ul {
    padding: 0;
    width: 100%;

}

ul li {
    position: relative;
}

.del {
    position: absolute;
    right: 15px;
    background-color: orangered;
    color: #fff;
    padding: 2px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border: none;
    border: 1px solid orangered;
    cursor: pointer;

}

.item {


    text-decoration: none;
    list-style: none;
    min-width: calc(100% - 50px);
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 8px;

}