* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.continer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb347;
}

.continer .box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    min-width: 300px;
    overflow: hidden;

}

.box h2 {
    margin: 0;
    margin: 20px auto;
}

.box .dolist {
    width: 100%;
    display: block;
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box .dolist:focus {
    outline: 1px solid #28a745;
}

.box .add {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: #28a745;
    cursor: pointer;
}

.box .add:hover {
    background-color: #218838;
}

.box ul {
    padding: 0;
    width: 100%;
}

ul li {
    position: relative;
    display:flex;
    align-items: center;
}

.del {
    position: absolute;
    right: 10px;
    background-color: orangered;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border: none;
    border: 1px solid orangered;
    cursor: pointer;
    transition: 0.5s;
}

.update {
    position: absolute;
    right: 50px;
    background-color:#28a745;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border: none;
   
    cursor: pointer;
    margin-right: 5px;
    transition: 0.5s;

}
.update:hover{
    background-color:#218838 ;
}

.del:hover {
    background-color: rgb(247, 96, 42);
    transform: scale(1.05);
}

.item {
    text-decoration: none;
    list-style: none;
    min-width: calc(100% - 50px);
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button.clear {

    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;
    display: none;
}

.clear:hover {
    background-color: rgb(255, 0, 0);
}